body {
  /* width: 100vw;
  height: 100vh;
  margin: 0; */
  /* background: black; */
}
h1,
h2,
h3,
h4,
p {
  font-family: "Maven Pro", sans-serif;
  color: black;
  text-align: center;
}
h1,
h2 {
  /* text-align: center; */

  color: white;
}
h1 {
  font-family: "Exo", sans-serif;
  margin: 10px;
  font-size: 45px;
}
.hero-image {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  background: url(sample.jpg) no-repeat center;
  background-attachment: fixed;
  /* background-size: cover; */
  /* opacity: 0.5; */
}
section {
  /* flex: none; */
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
  scroll-snap-align: start;
}
.centerIt {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px;
}
/* ul {
  background-color: black;
} */
li {
  color: white;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
}
.socials a {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.socials a:hover {
  color: grey;
}
form {
  position: relative;
  /* top: 50%; */
  transform: translateY(50%);
}
.form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}
#myEmail {
  background-color: rgb(138, 138, 138);
}
