@import url("https://fonts.googleapis.com/css2?family=Exo&family=Maven+Pro&family=Montserrat&family=Prosto+One&display=swap");
body {
  /* width: 100vw;
  height: 100vh;
  margin: 0;
  background: black; */
  padding-top: 55px;
  position: relative;
}
h1,
h2,
h3,
h4,
p {
  font-family: "Maven Pro", sans-serif;
  color: black;
  text-align: center;
}
h1,
h2 {
  color: white;
}
h1 {
  /* font-family: "Exo", sans-serif; */
  font-family: "Exo", "sans-serif";
  margin: 10px;
  font-size: 45px;
}
h2 {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  padding: 12px;
  align-items: center;
  justify-content: center;
}
h3 {
  text-align: center;
  padding-top: 10px;
}
.hero-image {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  background: url(assets/background.jpg) no-repeat center;
  background-attachment: fixed;
  /* background-size: cover; */
  /* opacity: 0.5; */
}
section {
  /* flex: none; */
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
  /* height: fit-content; */
  scroll-snap-align: start;
}
.projects {
  height: fit-content;
}
img {
  width: 600px;
  height: auto;
  /* width: 25px; */
  /* height: 25px; */
}
.centerIt {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px;
}

.card {
  margin: 5px 10px 5px;
}

/* --- Footer --- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 8px;
}
.socials a {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.socials a:hover {
  color: grey;
}
/* --- Contact Form --- */
form {
  position: relative;
  /* top: 50%; */
  transform: translateY(50%);
}
.form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}
#myEmail {
  background-color: rgb(138, 138, 138);
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .hero-image {
    scroll-snap-type: none;
  }
  section {
    height: fit-content;
  }
  nav {
    display: none;
  }
  .centerIt {
    top: 0%;
    transform: translateY(0%);
  }
}
